<div class="column is-one-fifth is-flex">
  <div class="movie-box box">
    <div class="block">
      <div class="movie-poster">
        <figure class="image is-2by3">
          <img src="http://image.tmdb.org/t/p/w185<%= movie._source.poster_path %>"/>
        </figure>
      </div>

      <div class="movie-title">
        <div class="content">
          <h4><%= movie._source.title %></h4>
        </div>
      </div>
    </div>

    <div class="block movie-overview">
      <p class="content is-small">
        <%- highlight(movie._source.overview, movie.highlight.overview) %>
      </p>
    </div>

    <div class="movie-info">
        <div class="block movie-genres">
            <div class="content">
                <% movie._source.genres.forEach(function(genre) { %>
                <span class="tag is-light"><%= genre.name %></span>
                <% }); %>
            </div>
        </div>

        <div class="block movie-numbers">
            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                    <p class="heading">Popularity</p>
                    <p class="title"><%= movie._source.popularity.toFixed(2) %></p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                    <p class="heading">Budget</p>
                    <p class="title">$ <%= Math.trunc(movie._source.budget/1000000) %>M</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
  </div>
</div>