<div class="column is-one-fifth">
    <div class="box">
        <div>
            <div class="movie-poster">
                <figure class="image is-2by3">
                    <img src="http://image.tmdb.org/t/p/w185<%= movie._source.poster_path %>"/>
                </figure>
            </div>

            <div class="movie-title">
                <div class="content">
                    <h4><%= movie._source.title %></h4>
                </div>
            </div>
        </div>
    
        <div class="movie-overview">
            <div class="content">
                <%= movie._source.overview %>                        
            </div>
        </div>

        <div class="movie-genres">
            <div class="content">
                <% movie._source.genres.forEach(function(genre) { %>
                    <span class="tag is-light"><%= genre.name %></span>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<!--
<div class="column is-one-fifth">
    <div class="card">
        <div class="card-image">
            <figure class="image is-128x128">
                <img src="http://image.tmdb.org/t/p/w185<%= movie._source.poster_path %>" alt="Poster image">
            </figure>
            <p class="title is-4"><%= movie._source.title %></p>

        </div>
        <div class="card-content">
            <div class="media">
            <div class="media-left">
                <span class="is-size-6"><%= movie._source.vote_average %></span>
            </div>
            <div class="media-content">
                <p class="title is-4"><%= movie._source.title %></p>
                <p class="subtitle is-6"><%= movie._source.tagline %></p>
            </div>
            </div>

            <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus nec iaculis mauris. <a>@bulmaio</a>.
            <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
</div>
-->